div
  div(plug="widget")
    .form-group
      .bg-light.p-4.text-center.mb-2(ld="no-data",t) 無資料
      .border.p-4.rounded.mb-1(ld-each="row")
        div(style="vertical-align:middle;",ld-each="editor-field")
        .m-edit
          .btn.btn-block.btn-outline-secondary.text-nowrap(ld="t delete") 刪除
      .btn.btn-outline-secondary.m-edit(t,ld="popup-input-toggle") 加入新欄位
      .ldcv.scroll(ld="popup-input"): .base.w-640.rwd: .inner.p-4
        div(ld-each="adder-field")
        .row
          .col-sm.mb-2: .btn.btn-block.btn-outline-secondary.text-nowrap(t,data-ldcv-set,ld="add") 加入
          .col-sm.mb-2: .btn.btn-block.btn-outline-secondary.text-nowrap(t,data-ldcv-set) 取消
      .mt-2: .text-danger(ld-each="error")

  script(type="@plotdb/block"): include:lsc index.ls
